<div
	class="add-to-modal graph-modal__container"
	role="dialog"
	aria-modal="true"
	data-graph-target="add-to-modal"
>
	<button
		class="add-to-modal__close close-modal btn-reset graph-modal__close js-modal-close"
		aria-label="Закрыть модальное окно"
	>
		<img
			src="@img/icons/close-modal-icon.svg"
			width="14"
			height="14"
			loading="lazy"
			alt="Close"
		/>
	</button>
	<h3 class="add-to-modal__title">Add to</h3>
	<hr />
	<div class="add-to-modal__body">
		<div class="add-to-modal__subtitle">Choose list</div>
		<ul class="add-to-modal__list">
			<li class="add-to-modal__list-item">
				<button class="add-to-modal__list-btn btn-reset">List 1</button>
			</li>
			<li class="add-to-modal__list-item">
				<button class="add-to-modal__list-btn btn-reset">List 2</button>
			</li>
			<li class="add-to-modal__list-item">
				<button class="add-to-modal__list-btn btn-reset">List 3</button>
			</li>
			<li class="add-to-modal__list-item">
				<button class="add-to-modal__list-btn btn-reset">List 4</button>
			</li>
		</ul>
		<div class="add-to-modal__btns">
			<button class="add-to-modal__btn btn btn--dark btn-reset js-modal-close">
				Cancel
			</button>
			<button class="add-to-modal__btn btn btn--red btn-reset">Save</button>
		</div>
	</div>
</div>
