<div
	class="edit-profile graph-modal__container"
	role="dialog"
	aria-modal="true"
	data-graph-target="edit-profile-modal"
>
	<button
		class="edit-profile__close close-modal btn-reset graph-modal__close js-modal-close"
		aria-label="Закрыть модальное окно"
	>
		<img
			src="@img/icons/close-modal-icon.svg"
			width="14"
			height="14"
			loading="lazy"
			alt="Close"
		/>
	</button>
	<h2 class="edit-profile__title">Edit profile</h2>
	<form class="edit-profile__form">
		<div class="edit-profile__form-group error">
			<label class="edit-profile__form-label" for="editUsername">
				Username
				<span>(only lowercase letters, numbers and dashes)</span>
			</label>
			<div class="edit-profile__form-info">
				Your profile page:
				<a href="#">https://reporn.ai/davidsmith4819</a>
			</div>
			<input
				class="edit-profile__form-input input"
				id="editUsername"
				type="text"
				value="davidsmith4819"
			/>
			<div class="edit-profile__form-error">Username already exists</div>
		</div>
		<div class="edit-profile__form-group">
			<label class="edit-profile__form-label" for="editNickname">
				Nickname
			</label>
			<input
				class="edit-profile__form-input input"
				id="editNickname"
				type="text"
				value="David Smith"
			/>
			<div class="edit-profile__form-error">Username already exists</div>
		</div>
		<button class="edit-profile__form-submit btn-reset">Save</button>
		<div class="edit-profile__form-group">
			<label class="edit-profile__form-label" for="editEmail"> Email </label>
			<input
				class="edit-profile__form-input input"
				id="editEmail"
				type="text"
				placeholder="mail@davidsmith4819.com"
			/>
			<div class="edit-profile__form-error">Username already exists</div>
		</div>
	</form>
	<button class="edit-profile__delete btn-reset">
		<img
			src="@img/icons/delete-profile.svg"
			width="13"
			height="15"
			loading="lazy"
			alt="Delete profile"
		/>
		Delete profile
	</button>
</div>
