<section class="create">
	<div class="container">
		<h1 class="create__title heading">
			<span class="heading--red">Create</span> Artwork
		</h1>
		<form class="create__form form-create">
			<div class="form-create__prompts">
				<div class="form-create__fields">
					<label class="form-create__label">
						Prompt
						<div class="form-create__group">
							<textarea
								class="form-create__textarea textarea"
								id="textareaPrompt"
								type="text"
								rows="1"
								placeholder="Anime female with cat ears..."
							></textarea>
							<button
								class="form-create__reset btn btn-reset reset"
								id="resetPrompt"
								type="button"
							>
								<img
									src="@img/icons/reset.svg"
									width="11"
									height="24"
									loading="lazy"
									alt="Reset"
								/>
							</button>
						</div>
					</label>
					<label class="form-create__label form-create__label--sm">
						Negative Prompt
						<div class="form-create__group">
							<textarea
								class="form-create__textarea form-create__textarea textarea textarea--sm"
								id="textareaNegativePrompt"
								type="text"
								rows="1"
								placeholder="Enter things you don’t want to be generated"
							></textarea>
							<button
								class="form-create__reset btn btn-reset reset"
								id="resetNegativePrompt"
								type="button"
							>
								<img
									src="@img/icons/reset.svg"
									width="11"
									height="24"
									loading="lazy"
									alt="Reset"
								/>
							</button>
						</div>
					</label>
				</div>
				<div class="form-create__btns">
					<label class="form-create__drop" id="dropArea">
						<svg
							class="form-create__image-icon"
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="15"
							fill="none"
						>
							<path
								fill="#fff"
								d="M18.125 15C19.141 15 20 14.18 20 13.125V1.875C20 .859 19.14 0 18.125 0H1.875C.82 0 0 .86 0 1.875v11.25C0 14.18.82 15 1.875 15h16.25ZM4.375 2.187c1.172 0 2.188 1.016 2.188 2.188 0 1.21-1.016 2.188-2.188 2.188a2.184 2.184 0 0 1-2.188-2.188c0-1.172.977-2.188 2.188-2.188ZM2.5 12.5v-1.875l2.773-2.773a.45.45 0 0 1 .665 0L8.124 10l5.273-5.273a.45.45 0 0 1 .665 0L17.5 8.125V12.5h-15Z"
							/>
						</svg>
						<img
							class="form-create__preview"
							src=""
							width="64"
							height="80"
							alt="Preview"
						/>
						<input
							class="form-create__file"
							id="fileElem"
							type="file"
							accept="image/*"
						/>
						<button
							class="form-create__delete-img btn-reset"
							id="deleteImg"
							type="button"
						>
							<img src="@img/icons/delete-image-icon.svg" alt="Delete image" />
						</button>
					</label>
					<button
						class="form-create__submit btn btn-reset btn--red"
						type="submit"
					>
						Create
					</button>
				</div>
			</div>
		</form>
	</div>
</section>
