<section class="tariffs">
	<div class="container">
		<h1 class="tariffs__title heading">
			<span class="heading--yellow">Upgrade</span> yours
		</h1>
		<div class="tariffs__items">
			<div class="tariffs__item">
				<div class="tariffs__item-title">Free</div>
				<div class="tariffs__item-price">
					<div class="tariffs__item-price-number">$0</div>
					<div class="tariffs__item-price-info">
						<div class="tariffs__item-price-currency">USD</div>
						<div class="tariffs__item-price-duration">month</div>
					</div>
				</div>
				<hr />
				<div class="tariffs__item-features">
					<div class="tariffs__item-available">Image available</div>
					<div class="tariffs__item-count">
						<span class="tariffs__item-count--hightlight">10</span>
						per month
					</div>
					<div class="tariffs__item-speed">Standard speed</div>
				</div>
				<hr />
				<a class="tariffs__btn" href="#">Chosen tariff</a>
			</div>
			<div class="tariffs__item tariffs__item--advanced">
				<div class="tariffs__item-title tariffs__item-title--blue">
					Advanced
				</div>
				<div class="tariffs__item-price">
					<div class="tariffs__item-price-number">
						<span class="tariffs__item-price-economy">$15</span>
						$5
					</div>
					<div class="tariffs__item-price-info">
						<div class="tariffs__item-price-currency">USD</div>
						<div class="tariffs__item-price-duration">month</div>
					</div>
				</div>
				<hr />
				<div class="tariffs__item-features">
					<div class="tariffs__item-available">Image available</div>
					<div class="tariffs__item-count">
						<span class="tariffs__item-count--hightlight">500</span>
						per month
					</div>
					<div class="tariffs__item-speed tariffs__item-speed--yellow">
						Fast creation
					</div>
				</div>
				<hr />
				<a class="tariffs__btn tariffs__btn--yellow" href="#">Upgrade</a>
			</div>
			<div class="tariffs__item tariffs__item--expert">
				<div class="tariffs__item-title tariffs__item-title--purple">
					Expert
				</div>
				<div class="tariffs__item-price">
					<div class="tariffs__item-price-number">
						<span class="tariffs__item-price-economy">$75</span>
						$25
					</div>
					<div class="tariffs__item-price-info">
						<div class="tariffs__item-price-currency">USD</div>
						<div class="tariffs__item-price-duration">month</div>
					</div>
				</div>
				<hr />
				<div class="tariffs__item-features">
					<div class="tariffs__item-available">Image available</div>
					<div class="tariffs__item-count">
						<span class="tariffs__item-count--hightlight"
							><img
								src="@img/icons/infinity.svg"
								width="29"
								height="15"
								loading="lazy"
								alt="no limits"
						/></span>
						no limits
					</div>
					<div class="tariffs__item-speed tariffs__item-speed--yellow">
						<span class="tariffs__item-speed--red">Ultra</span> Fast creation
					</div>
				</div>
				<hr />
				<a class="tariffs__btn tariffs__btn--purple" href="#">Upgrade</a>
			</div>
		</div>
	</div>
</section>
