<section class="privacy">
	<div class="container">
		<h1 class="privacy__title">Privacy policy</h1>
		<div class="privacy__items">
			<div class="privacy__item">
				<h3 class="privacy__item-title">A. This Privacy Notice</h3>
				<p class="privacy__item-text">
					This Privacy Notice is issued by each of the Controller entities
					listed in Section (Q) below (together, “Getac”, “we”, “us” and “our”)
					and is addressed to individuals outside our organisation with whom we
					interact, including customers, visitors to our Sites, users of our
					Apps, other users of our products or services, personnel of corporate
					customers and vendors, applicants for employment, and visitors to our
					premises (together, “you”). Defined terms used in this Privacy Notice
					are explained in Section (R) below. Individual employees of existing
					or prospective customers and partners who leverage Getac’s solutions
					and services, or use the Getac website, may be provided with further
					privacy notices which may be contained in a separate supplemental
					notice. These additional privacy notices shall supplement this Privacy
					Notice. This Privacy Notice may be amended or updated from time to
					time to reflect changes in our practices with respect to the
					Processing of Personal Data, or changes in applicable law. We
					encourage you to read this Privacy Notice carefully, and to regularly
					check this page to review any changes we might make in accordance with
					the terms of this Privacy Notice. This Privacy Notice was last updated
					on Feb 24, 2022.
				</p>
			</div>
			<div class="privacy__item">
				<h3 class="privacy__item-title">B. Collection of Personal Data</h3>
				<p class="privacy__item-text">
					Collection of Personal Data: We collect or obtain Personal Data about
					you from the following sources:
				</p>
				<ul class="privacy__item-list">
					<li>
						Data provided to us: We obtain Personal Data when those data are
						provided to us (e.g., where you contact us via email or telephone,
						or by any other means, or when you provide us with your business
						card, or when you submit a job application).
					</li>
					<li>
						Data we obtain in person: We obtain Personal Data during meetings,
						at trade shows, during visits from sales or marketing
						representatives, or at events we attend.
					</li>
					<li>
						Collaborations: We obtain Personal Data when you collaborate with us
						in research or in an advisory/consultancy capacity.
					</li>
					<li>
						Relationship data: We collect or obtain Personal Data in the
						ordinary course of our relationship with you (e.g., we provide a
						service to you, or to your employer).
					</li>
					<li>
						Data you make public: We collect or obtain Personal Data that you
						manifestly choose to make public, including via social media (e.g.,
						we may collect information from your social media profile(s), if you
						make a public post about us).
					</li>
					<li>
						App data: We collect or obtain Personal Data when you download or
						use any of our Apps.
					</li>
					<li>
						Site data: We collect or obtain Personal Data when you visit any of
						our Sites or use any features or resources available on or through a
						Site.
					</li>
					<li>
						Registration details: We collect or obtain Personal Data when you
						use, or register to use, any of our Sites, Apps, products, or
						services.
					</li>
					<li>
						Content and advertising information: If you interact with any third
						party content or advertising on a Site or in an App (including third
						party plugins and cookies) we receive Personal Data from the
						relevant third party provider of that content or advertising.
					</li>
					<li>
						Third party information: We collect or obtain Personal Data from
						third parties who provide it to us (e.g., credit reference agencies;
						law enforcement authorities; etc.).
					</li>
				</ul>
			</div>
			<div class="privacy__item">
				<h3 class="privacy__item-title">C. Creation of Personal Data</h3>
				<p class="privacy__item-text">
					We also create Personal Data about you in certain circumstances, such
					as records of your interactions with us, and details of your past
					interactions with us. We may also combine Personal Data from any of
					our Sites, Apps, products, or services, including where those data are
					collected from different devices.
				</p>
			</div>
		</div>
	</div>
</section>
