<section class="profile">
	<div class="container">
		<div class="profile__container">
			<div class="profile__info">
				<div class="profile__info-head">
					<div class="profile__tariff">
						<div class="profile__tariff-current">Free tariff</div>
						<a class="profile__tariff-link btn--yellow" href="#">Tariffs</a>
					</div>
					<button
						class="profile__info-edit btn-reset"
						data-graph-path="edit-profile-modal"
					>
						<img src="@img/icons/share.svg" alt="Edit profile" />
						Edit<span>&nbsp;Profile</span>
					</button>
				</div>
				<div class="profile__user">
					<div class="profile__user-name">David Smith</div>
					<div class="profile__user-username">@davidsmith4819</div>
				</div>
				<div class="profile__statistics">
					<div class="profile__statistics-item">
						<div class="profile__statistics-value">15</div>
						<div class="profile__statistics-title">Followers</div>
					</div>
					<div class="profile__statistics-item">
						<div class="profile__statistics-value">6</div>
						<div class="profile__statistics-title">Following</div>
					</div>
					<div class="profile__statistics-item">
						<div class="profile__statistics-value">12</div>
						<div class="profile__statistics-title">Created Artworks</div>
					</div>
				</div>
			</div>
			<div class="profile__available">
				<div class="profile__available-value">10</div>
				<div class="profile__available-text">Image available</div>
				<a class="profile__available-link btn--yellow" href="#">Upgrade</a>
			</div>
		</div>
	</div>
</section>
