<section class="profile">
	<div class="container">
		<div class="profile__container">
			<div class="profile__info">
				<button></button>
				<div class="profile__content">
					<div class="profile__tariffs">
						<button class="profile__free-btn btn-reset" type="button">
							Free tariff
						</button>
						<button class="tariffs-btn btn-reset" type="button">Tariffs</button>
					</div>
					<div class="profile__user">
						<div class="profile__name">David Smith</div>
						<div class="profile__username">@davidsmith4819</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
