html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

details,
main {
	display: block;
}

h1 {
	font-size: 2em;
}

hr {
	overflow: visible;
	height: 0;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	/* stylelint-disable-next-line font-family-no-duplicate-names */
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: inherit;
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline dotted;
	/* stylelint-disable-next-line declaration-block-no-duplicate-properties */
	text-decoration: underline;
	/* stylelint-disable-next-line order/properties-order */
	-webkit-text-decoration: underline dotted;
}

b,
strong {
	/* stylelint-disable-next-line font-weight-notation */
	font-weight: bolder;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
	outline: ButtonText dotted 1px;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	display: table;
	padding: 0;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	white-space: normal;
	color: inherit;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}

[hidden],
template {
	display: none;
}

:root {
	--font-family: "Poppins";
	--main-red-color: #ed1c25;
	--main-2-color: #dced1c;
	--black-color: #1e1e1e;
	--secondary-1-color: #141414;
	--secondary-2-color: #2e2e2e;
	--secondary-3-color: #363636;
	--ui-text-color: #909090;
	--white-color: #fff;
	--main-red-hover-color: #a70000;
	--bg-color: #050505;
}

@font-face {
	src: url("../fonts/Poppins-Regular.woff2") format("woff2");
	font-family: "Poppins";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Poppins-Medium.woff2") format("woff2");
	font-family: "Poppins";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
	font-family: "Poppins";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Poppins-Bold.woff2") format("woff2");
	font-family: "Poppins";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

img,
svg {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

.page {
	height: 100%;
	-webkit-text-size-adjust: 100%;
}

.page__body {
	min-width: 320px;
	min-height: 100%;
	font-family: var(--font-family), sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--white-color);
	background-color: var(--bg-color);
}

.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.input-reset {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: #fff;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

.dis-scroll {
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	overscroll-behavior: none;
}

.page--ios .dis-scroll {
	position: relative;
}

.site-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main {
	flex: 1 0 auto;
}

.container {
	margin: 0 auto;
	padding: 0 16px;
	max-width: 360px;

	@media (min-width: 576px) {
		max-width: 576px;
	}

	@media (min-width: 768px) {
		max-width: 768px;
	}

	@media (min-width: 834px) {
		max-width: 834px;
	}

	@media (min-width: 992px) {
		max-width: 992px;
	}

	@media (min-width: 1200px) {
		max-width: 1200px;
	}

	@media (min-width: 1400px) {
		max-width: 1400px;
	}

	@media (min-width: 1840px) {
		max-width: 1872px;
	}
}

.btn {
	border-radius: 8px;
	font-weight: 600;

	&--red {
		background-color: var(--main-red-color);
		transition: background-color 0.3s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--main-red-hover-color);
			}
		}
	}

	&--dark {
		background-color: var(--secondary-1-color);
		transition: background-color 0.3s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--main-red-hover-color);
			}
		}
	}

	&--black {
		background-color: var(--bg-color);
	}

	&--yellow {
		border: 1px solid var(--main-2-color);
		color: var(--main-2-color);
		background-color: var(--secondary-1-color);
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				color: var(--secondary-1-color);
				background-color: var(--main-2-color);
			}
		}
	}
}

.heading {
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;

	.heading--red {
		color: var(--main-red-color);
	}

	.heading--yellow {
		color: var(--main-2-color);
	}

	@media (min-width: 1200px) {
		font-size: 68px;
		line-height: 72px;
		letter-spacing: -0.03em;
	}
}

.input {
	border: none;
	border-radius: 8px;
	padding: 0 48px 0 16px;
	width: 100%;
	height: 60px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: var(--white-color);
	background-color: var(--black-color);

	&::placeholder {
		color: var(--ui-text-color);
		opacity: 1;
	}

	&:focus-visible {
		outline: none;
	}

	@media (min-width: 1600px) {
		padding: 0 48px 0 32px;
		height: 80px;
		font-size: 18px;
		line-height: 24px;
	}
}

.burger {
	position: relative;
	border-radius: 8px;
	width: 32px;
	height: 32px;
	background-color: var(--secondary-2-color);

	&__img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: auto;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
		transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

		&.active {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}

	@media (min-width: 992px) {
		display: none;
	}
}

.mobile-menu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 50;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: 88px max(16px, (100% - 328px) / 2) 40px max(16px, (100% - 328px) / 2);
	width: 100%;
	background-color: var(--bg-color);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

	&__list {
		display: flex;
		flex-direction: column;
		margin-bottom: 64px;
		gap: 8px;
	}

	&__link {
		display: inline-block;
		padding: 12px 8px;
		width: 100%;
		font-size: 16px;
		line-height: 24px;
		text-align: center;

		&.btn--yellow {
			padding: 11px 7px;
		}
	}

	&__user {
		&-list {
			flex-grow: 1;
			margin-bottom: 40px;
		}

		&-name {
			margin-bottom: 4px;
			font-weight: 600;
			text-align: center;
		}

		&-username {
			margin-bottom: 16px;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			color: var(--ui-text-color);
		}

		&-link {
			display: inline-block;
			padding: 12px 8px;
			width: 100%;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
		}
	}

	&__foot {
		&-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;
		}

		&-link {
			font-weight: 600;
			font-size: 16px;
			line-height: 16px;
			color: var(--ui-text-color);
		}
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

	@media (min-width: 576px) {
		padding-right: max(16px, (100% - 544px) / 2);
		padding-left: max(16px, (100% - 544px) / 2);
	}

	@media (min-width: 768px) {
		padding-right: max(16px, (100% - 736px) / 2);
		padding-left: max(16px, (100% - 736px) / 2);
	}

	@media (min-width: 834px) {
		padding-right: max(16px, (100% - 802px) / 2);
		padding-left: max(16px, (100% - 802px) / 2);
	}

	@media (min-width: 992px) {
		display: none;
	}
}

.dropdown-user {
	position: absolute;
	border: 1px solid var(--secondary-2-color);
	border-radius: 8px;
	padding: 15px;
	background: var(--secondary-1-color);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out;

	&__list {
		display: flex;
		flex-direction: column;
		min-width: 133px;
		gap: 8px;

		hr {
			margin: 0;
			border: 1px solid var(--secondary-2-color);
			width: 100%;
		}
	}

	&__link,
	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		border-radius: 8px;
		width: 100%;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: var(--white-color);
		transition: background-color 0.3s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--secondary-3-color);
			}
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.header {
	position: relative;
	z-index: 99;
	background-color: var(--bg-color);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 48px;

		@media (min-width: 992px) {
			min-height: 64px;
		}
	}

	&__logo {
		display: inline-block;

		@media (min-width: 1200px) {
			margin-right: 152px;
		}
	}

	&__user {
		display: none;

		&-link {
			padding: 12px 24px;

			&.btn--yellow {
				padding: 11px 39px;
			}
		}

		&-auth {
			position: relative;
			display: flex;
			align-items: center;
		}

		&-name {
			padding: 12px 56px 12px 16px;
			font-weight: 600;
		}

		&-btn {
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 8px;
			width: 48px;
			height: 48px;
			background-color: var(--secondary-1-color);

			path {
				transition: fill 0.3s ease-in-out;
			}

			&.active {
				path {
					fill: var(--main-red-color);
				}
			}
		}

		&-dropdown {
			right: 0;
			top: 50px;
		}

		@media (min-width: 992px) {
			display: flex;
			gap: 8px;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 8px;

		@media (min-width: 992px) {
			display: none;
		}
	}

	&__create-btn {
		display: inline-block;
		padding: 8px;
		font-size: 14px;
		line-height: 16px;
	}
}

.menu {
	display: none;

	&__list {
		display: flex;
		gap: 16px;
	}

	&__link {
		padding: 12px 20px;
		color: var(--ui-text-color);
		transition: all 0.3s ease-in-out;

		&.btn--red {
			padding: 12px;
			color: var(--white-color);

			@media (any-hover: hover) {
				&:hover {
					color: var(--white-color);
				}
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--secondary-3-color);
			}
		}
	}

	@media (min-width: 992px) {
		display: block;
	}
}

.footer {
	flex: 0 0 auto;
	background-color: var(--bg-color);

	&__container {
		padding: 40px 16px;

		@media (min-width: 992px) {
			display: flex;
			justify-content: space-between;
			padding: 20px 16px;
		}
	}

	&__copyright {
		display: none;

		@media (min-width: 992px) {
			display: block;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	&__link {
		font-weight: 600;
		font-size: 16px;
		line-height: 16px;
		color: var(--ui-text-color);

		@media (min-width: 992px) {
			line-height: 24px;
			color: var(--white-color);
		}
	}
}

.search {
	margin-bottom: 16px;

	&__title {
		margin: 16px 0 24px;
		text-align: center;

		@media (min-width: 768px) {
			margin-top: 24px;
		}

		@media (min-width: 1200px) {
			margin: 88px 0 56px;
		}
	}

	&__form {
		display: flex;
		gap: 8px;
	}

	&__group {
		position: relative;
		width: 100%;
	}

	&__textarea {
		display: block;
		padding: 20px 48px 20px 16px;
		max-height: 240px;
		resize: none;

		@media (min-width: 1600px) {
			padding: 28px 48px 28px 32px;
			max-height: 176px;
		}
	}

	&__reset {
		position: absolute;
		right: 16px;
		top: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		transform: translateY(-50%);

		img {
			height: auto;
		}
	}

	&__submit {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: 52px;

		img {
			height: auto;

			@media (min-width: 1200px) {
				display: none;
			}
		}

		&-title {
			display: none;

			@media (min-width: 1200px) {
				display: block;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				letter-spacing: -0.019em;
				color: var(--white-color);
			}
		}

		@media (min-width: 1200px) {
			align-self: flex-start;
			padding: 18px 72px;
			width: auto;
		}

		@media (min-width: 1600px) {
			padding: 28px 72px;
		}
	}

	@media (min-width: 768px) {
		margin-bottom: 24px;
	}
}

.categories {
	margin-bottom: 16px;

	&__container {
		@media (min-width: 992px) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 8px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 24px;
		gap: 8px;

		@media (min-width: 992px) {
			margin: 0;
			padding: 8px 0;
			gap: 4px;
		}
	}

	&__item {
		flex-shrink: 0;
	}

	&__btn {
		border-radius: 4px;
		padding: 8px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: var(--main-2-color);
		background-color: var(--black-color);
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

		&.active {
			color: var(--secondary-1-color);
			background-color: var(--main-2-color);
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--secondary-1-color);
				background-color: var(--main-2-color);
			}
		}
	}

	@media (min-width: 768px) {
		margin-bottom: 24px;
	}

	@media (min-width: 992px) {
		margin-bottom: 64px;
	}
}

.sort {
	margin-bottom: 16px;

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 8px;
		border-radius: 8px;
		padding: 12px 20px 12px 38px;
		width: 100%;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: var(--white-color);
		background-color: var(--secondary-1-color);
		transition: color 0.3s ease-in-out;
		gap: 8px;

		svg {
			path {
				transition: fill 0.3s ease-in-out;
			}
		}

		&.active {
			color: var(--secondary-3-color);

			svg {
				path {
					fill: var(--secondary-3-color);
				}
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--secondary-3-color);

				svg {
					path {
						fill: var(--secondary-3-color);
					}
				}
			}
		}

		@media (min-width: 992px) {
			margin: 0;
			padding: 12px 20px;
			width: auto;
		}
	}

	&__content {
		overflow: hidden;
		border-radius: 8px;
		max-height: 0;
		background-color: var(--secondary-1-color);
		transition: max-height 0.3s ease-in-out;

		@media (min-width: 992px) {
			position: absolute;
			right: 0;
			top: 56px;
			z-index: 99;
			min-width: 328px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding: 16px;
		gap: 8px;

		hr {
			margin: 0;
			border: 1px solid var(--secondary-2-color);
			width: 100%;
		}
	}

	&__item {
		&-btn {
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: var(--white-color);
			transition: color 0.3s ease-in-out;
			gap: 8px;

			&.active {
				color: var(--main-2-color);

				.sort__item-icon {
					svg {
						path {
							fill: var(--main-2-color);
						}
					}
				}
			}

			@media (any-hover: hover) {
				&:hover {
					color: var(--main-2-color);

					.sort__item-icon {
						svg {
							path {
								fill: var(--main-2-color);
							}
						}
					}
				}
			}
		}

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;

			svg {
				path {
					transition: fill 0.3s ease-in-out;
				}
			}
		}
	}

	@media (min-width: 992px) {
		position: relative;
		flex-shrink: 0;
		margin: 0;
	}
}

.images {
	margin-bottom: 40px;

	&__items {
		column-count: 2;
		column-gap: 8px;

		@media (min-width: 576px) {
			column-count: 3;
		}

		@media (min-width: 768px) {
			column-count: 4;
		}

		@media (min-width: 992px) {
			column-count: 5;
		}

		@media (min-width: 1200px) {
			column-count: 6;
			column-gap: 12px;
		}
	}

	&__item {
		break-inside: avoid;
		border-radius: 8px;
		padding-bottom: 8px;

		img {
			border-radius: 8px;
			height: calc(100% - 8px);

			@media (min-width: 1200px) {
				height: calc(100% - 12px);
			}
		}

		@media (min-width: 1200px) {
			padding-bottom: 12px;
		}
	}

	@media (min-width: 992px) {
		margin-bottom: 60px;
	}
}
