<section class="search">
	<div class="container">
		<h1 class="search__title heading">
			<span class="heading--red">Find</span> your special or
			<span class="heading--yellow">create it</span>
		</h1>
		<form class="search__form">
			<div class="search__group">
				<textarea
					class="search__textarea textarea"
					id="textareaSearch"
					type="text"
					rows="1"
					placeholder="Anime female with cat ears..."
				></textarea>
				<button
					class="search__reset btn btn-reset reset"
					id="resetSearch"
					type="button"
				>
					<img
						src="@img/icons/reset.svg"
						width="11"
						height="24"
						loading="lazy"
						alt="Reset"
					/>
				</button>
			</div>
			<button class="search__submit btn btn-reset btn--red" type="submit">
				<img
					src="@img/icons/search.svg"
					width="20"
					height="24"
					loading="lazy"
					alt="Search"
				/>
				<p class="search__submit-title">Search</p>
			</button>
		</form>
	</div>
</section>
